<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">

        <!-- Image 1 -->
        <div class="carousel-item active">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRX5iC__DMrGgWCmD9ktoHPyaJmC77bD_OnQw&s"
                class="d-block w-100 homeCaurouselImage" alt="Image 1">
        </div>

        <!-- Image 2 -->
        <div class="carousel-item">
            <img src="https://www.brides.com/thmb/3E97mvmZCSaSBNGbe6oQlnMHSWg=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/datenight-ec8b1611b9f043c28891839eaf7fc81c.jpg"
                class="d-block w-100 homeCaurouselImage" alt="Image 2">
        </div>

        <!-- Image 3 -->
        <div class="carousel-item">
            <img src="https://www.shutterstock.com/image-photo/portrait-caucasian-couple-man-carrying-600nw-2112812240.jpg"
                class="d-block w-100 homeCaurouselImage" alt="Image 3">
        </div>

        <!-- Image 4 -->
        <div class="carousel-item">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqbtAUJ5-DoCKV2mU1ai5FDhHnn7oljXZUWw&s" class="d-block w-100 homeCaurouselImage" alt="Image 4">
        </div>


    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

</div>